{% extends 'layout.html.twig' %}

{% block body %}
    <div class="mt-3"><h1>Shield SSO</h1></div>

    {% for error in app.session.flashbag.get('register_success') %}
        <div class="form-success">{{ error }}</div>
    {% endfor %}
    {% for error in app.session.flashbag.get('register_error') %}
        <div class="form-error">{{ error }}</div>
    {% endfor %}

    {% if is_granted('ROLE_USER') %}
        <p class="lead">
            It appears that you are already logged in.
        </p>
        <p class="lead"><a class="btn btn-dark btn-lg" href="{{ path('logout') }}" role="button">Log out</a></p>
    {% else %}
        <p class="lead">
            It appears that you are not logged in.
        </p>
        <p class="lead"><a class="btn btn-dark btn-lg" href="{{ path('login') }}" role="button">Log in</a></p>
    {% endif %}
{% endblock %}
