<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ShieldSSO</title>

        <link href="/static/css/css.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
