{% extends 'layout.html.twig' %}

{% block body %}
    <h1>ShieldSSO</h1>
    <p>Log in</p>
    <form action="{{ path('check') }}" method="post">
        <div class="form-error">{{ error }}</div>
        <div><input type="text" name="_username" value="{{ last_username }}"/></div>
        <div><input type="password" name="_password" value=""/></div>
        <div><input type="submit"/></div>
    </form>
{% endblock %}
