database:
  driver: 'pdo_mysql'
  host: '127.0.0.1'
  port: '5432'
  dbname: 'shieldsso_sso'
  user: 'root'
  password: ''

oauth:
  authorization_code_ttl: 'PT10M'
  access_token_ttl: 'PT1H'
  refresh_token_ttl: 'P1M'

mailjet:
    api_key: ''
    secret_key: ''
