database:
  driver: 'pdo_pgsql'
  host: '127.0.0.1'
  port: '5432'
  dbname: 'sso'
  user: 'postgres'
  password: '123'

oauth:
  authorization_code_ttl: 'PT10M'
  access_token_ttl: 'PT1H'
  refresh_token_ttl: 'P1M'

mailjet:
    api_key: ''
    secret_key: ''
