/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #333;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
}

.bg-dark {
    background-color: #333 !important;
}

body {
    color: #333 !important;
}

.footer .text-muted a {
    color: rgba(255,255,255,.5);
}

.footer .text-muted a:hover {
    color: rgba(255,255,255,.75);
    text-decoration: none;
}

.footer .text-muted {
    color: rgba(255,255,255,.5);
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-nav {
    padding-top: 5px;
    padding-bottom: 5px;
}
